# /aclocal.m4
# /autom4te.cache/
# /build-aux/
# /config.h
# /config.h.in
# /config.log
# /config.status
# /configure
# /m4/
# /stamp-h1
# Makefile
# Makefile.in
# \.deps/
# \.dirstamp
*.pyc
/.lock-waf_*
/.waf-*/
/.waf3-*/
/build/
/doc/doxygen_sqlite3.db
/doc/html
/CMakeFiles/
/CMakeC*
*.cmake
Makefile
/*/CMakeFiles/
/src/*.a
/src/*.pb.h
/src/*.pb.cc
/lib/
/bin/
/dataset/
jsvm-prefix/
