# /aclocal.m4
# /autom4te.cache/
# /build-aux/
# /config.h
# /config.h.in
# /config.log
# /config.status
# /configure
# /m4/
# /stamp-h1
# Makefile
# Makefile.in
# \.deps/
# \.dirstamp
*.264
*.7z
*.cfg
*.cmake
*.log
*.pyc
*.yuv
*so
*so
./avg/*.png
/*.pdf
/*/CMakeFiles/
/.lock-waf_*
/.waf-*/
/.waf3-*/
/CMakeC*
/CMakeFiles/
/avg/*.png
/bin/
/build/
/build_dei/
/dataset/
/dataset/CREW_352x288_30_orig_01.*.264
/dataset_client/
/doc/doxygen_sqlite3.db
/doc/html
/lib/
/src/*.a
/src/*.pb.cc
/src/*.pb.h
/src/avg/*.png
/src/avg/old/*
/tex/*-blx.bib
/tex/*.aux
/tex/*.bbl
/tex/*.bcf
/tex/*.bib-stamp
/tex/*.blg
/tex/*.log
/tex/*.out
/tex/*.run.xml
/tex/*.synctex.gz
/tex/report.dvi
/tex/report.pdf
2017*.png
2017*.xz
Makefile
cmake_defines.hpp
figure_*.png
iid_*.xz
iid_*.xz
jsvm-prefix/
plot*.pdf
python/*.cxx
python/*.py